/* For reference
.column                    { margin:0 12px; }
.columns                   { float: left; margin: 0 12px; }
.columns .columns          { margin-left:0; }

.one                       { width:  99px; }
.two, .quarterWidth        { width: 222px; }
.three                     { width: 345px; }
.four, .halfWidth          { width: 468px; }
.five                      { width: 591px; }
.six, .threeQuarterWidth   { width: 714px; }
.seven                     { width: 837px; }
.eight, fullWidth          { width: 960px; }
*/

